<mat-card>
    <mat-card-title>Novo produto</mat-card-title>
</mat-card>
<form>
    <mat-form-field>
        <input matInput placeholder="Nome"
         [value]="product.name" name="name" autocomplete="off" disabled>
    </mat-form-field>    
    <mat-form-field>
        <input matInput placeholder="Preço (R$)"
        [value]="product.price" name="price" autocomplete="off" disabled type="number">
    </mat-form-field>
</form>


<button mat-raised-button (click)= "deleteProduct()" color="warn">
    Deletar
</button>
<button mat-raised-button (click)= "cancel()">
    Cancelar
</button>